@import "colors.scss";
@import "ui.scss";

html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
  font-family: "Poppins";
  position: relative;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  @media all and (max-width: 576px) {
    margin-left: 0px;
  }
}

#main-content {
  width: 100%;
  background-color: $light-grey;
  background-image: url("../img/watermark.svg");
  background-repeat: no-repeat;
  background-position: 90% 90%;
  flex-grow: 1;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}
