@import 'colors.scss';
@import 'ui.scss';

html,
body,
#__nuxt,
#__layout {
  height: 100% !important;
  width: 100% !important;
  font-family: 'Poppins';
  position: relative;
}

w3m-text {
  color: yellow !important;
}

#main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  width: calc(100% - 72px);

  @media all and (max-width: 576px) {
    margin-left: 0px;
    width: 100%;
  }
}

#main-content {
  width: 100%;
  background-color: $light-grey;
  background-image: url('../img/soakverse-icon.png');
  background-repeat: no-repeat;
  background-position: 90% 90%;
  flex-grow: 1;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}

#main-content-p2e {
  width: 100%;
  background-color: $light-grey;
  background-image: url('/images/p2e/soakverse-world.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 90%;
  flex-grow: 1;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.pt-200 {
  padding-top: 200px !important;
}

.game-layout {
  max-width: 1000px;
  min-height: 100%;
  overflow: hidden;

  .game-sublayout {
    overflow: auto;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: white;
    padding-bottom: 4px;
  }

  h1,
  h2,
  h3,
  h4 {
    border-bottom: 1px solid white;
  }

  p {
    color: white;
    font-size: 14px;
  }

  .card {
    background-color: rgba(6, 38, 45, 0.8);

    &.location-card {
      padding: 8px;
      background-color: rgba(6, 38, 45, 1);
      border-radius: 8px;

      &:hover {
        background-color: black;
        border: 1px solid white;
      }

      img {
        border: 3px solid white;
        border-radius: 8px;
      }

      p {
        margin-top: 2px;
        margin-bottom: 0;
      }
    }
  }
}


///////////////////////////////////////////// GAME PLATFORM /////////////////////////////////////////////////////

#main-content-gp {
  width: 100%;
  background-color: $light-grey;
  background-image: url('/images/game-platform/soakverse-bg.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 90% 90%;
  flex-grow: 1;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-y: auto;
  z-index: -200;
}